<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vplate">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".Network.ApplicationController"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.LoginMainActivity" />
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.JoinActivity" />
        <activity android:name=".activity.QuestionActivity" />
        <activity android:name=".activity.PwFindActivity" />
        <activity android:name=".activity.PwSetActivity" />
        <activity android:name=".activity.PwSetCompleteActivity" />
        <activity android:name=".activity.CommunityActivity" />
        <activity android:name=".activity.TemplateInfoActivity" />
        <activity android:name=".activity.TemplateEditActivity" />
        <activity android:name=".activity.CropActivity" />
        <activity android:name=".activity.TrimmerActivity" />
        <activity android:name=".activity.NickChangeAcitivity" />
        <activity android:name=".activity.PwChangeActivity" />

        <service android:name=".service.FcmListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".service.InstanceIDListenerService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".activity.CompleteVideoInfoActivity"></activity>
    </application>

</manifest>